<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
</head>
<body>
    <h1>About</h1>
    <%= render "navbar" %>
    <p> Every flower have their languages.</p>
    <p> Their languages may represent the spirit they want to express.</p>
    <p> They add meanings to the nature. </p>

    <p>You might want to know what your gift means</p>
    <p>Every flower says... <br></p>

    <p style="text-align:center">
        <%= @cherry.name %>
        <%= @cherry.add %> <br>

        <%= @daisy.name %>
        <%= @daisy.add %> <br>

        <%= @tulip.name %>
        <%= @tulip.add %> <br>

        <%= @sun.name %>
        <%= @sun.add %> <br>

        <%= @rose.name %>
        <%= @rose.add %> <br>

        <%= @peach.name %>
        <%= @peach.add %> <br>

        <%= @new.name %>
        <%= @new.add %> <br>
    </p>
</body>
</html>

<%= render "foot" %>