<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
</head>
<body>
    <h1>Help</h1>
    <nav>
        <ul>
            <li>
                <a href="/static_pages/home">Gift</a>
            </li>
            <li>
                <a href="/static_pages/about">About</a>
            </li>
            <li>
                <a href="/static_pages/help">Help</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>


    <h1>New</h1>
    <h2>Enter a name and add a new meaning for the name you choose.</h2>
    <h2>It can be anything as long as it makes you happy.</h2>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= form_for(@dataset) do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.label :add%>
            <%= f.text_field :add %>

            <%= f.submit "Create new happiness", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>


</body>
</html>